<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Bagus Gandhi Pratama</title>
</head>
<body>
    <div class="h-screen bg-hero flex flex-wrap items-center  justify-center  ">
        <div class="container lg:w-2/6 xl:w-2/7 sm:w-full md:w-2/3 bg-white shadow-lg rounded-xl">
            <div class="h-32 overflow-hidden  bg-indigo-600 rounded-t-xl ">
            </div>
            <div class="flex justify-center px-5 -mt-12">
                <img class="h-32 w-32 bg-white p-2 rounded-full" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/bagusgandhi.jpg" alt="" />

            </div>
            <div class=" ">
                <div class="text-center px-14">
                    <h2 class="text-gray-800 text-3xl font-bold">Bagus Gandhi Pratama</h2>
                    <div class="flex justify-center gap-2">
                        <a class="text-gray-600 mt-2 hover:text-blue-500" href="https://github.com/bagusgandhi" target="BLANK()"><img class="h-6 w-6" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/github-svgrepo-com.svg" alt=""></a>
                        <a class="text-gray-600 mt-2 hover:text-blue-500" href="https://www.linkedin.com/in/bagus-gandhi-pratama/" target="BLANK()"><img class="h-6 w-6" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/linkedin-svgrepo-com.svg" alt=""></a>

                    </div>
                    <p class="mt-2 text-gray-600 text-sm">Hello my name is Bagus Gandhi Pratama, you can call me Gandhi. I am Backend Developer enthusiast</p>
                </div>
                <hr class="mt-6" />
                <div class="grid grid-cols-4 m-6 gap-4">
                    <div>
                        <img class="h-10" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/mariadb.svg" alt="">
                    </div>
                    <div>
                        <img class="h-12" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/mongodb.svg" alt="">
                    </div>
                    <div>
                        <img class="h-12" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/node-js.svg" alt="">
                    </div>
                    <div>
                        <img class="h-14" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/express.svg" alt="">
                    </div>
                    <div>
                        <img class="h-14" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/docker.svg" alt="">
                    </div>
                    <div>
                        <img class="h-12" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/kubernetes.svg" alt="">
                    </div>
                    <div>
                        <img class="h-10" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/jenkins.svg" alt="">
                    </div>
                    <div>
                        <img class="h-10" src="https://storage.googleapis.com/bagusgandhi-assets/public/img/google-cloud.svg" alt="">
                    </div>
                  </div>
            </div>
        </div>
    </div>
</body>
</html>